* {
  box-sizing:border-box;
  margin: 0;
}

html {
  font-family: 'Quicksand', sans-serif;
  font-size: 15px;
  scroll-behavior: smooth;
  --yellow: #e9bd33;
  --lightyellow: #ffe78f;
  --purple: #a97eb7;
  --red: #ee6e66;
  --blue: #a3b7d6;
  --green: #9FDD26;
  --orange: #f6921e;
}

/* #loader img{
  display: block;
  position: fixed;
  top: 50vh;
  right: 20px;
  max-width: 2rem;
  z-index: 1000000;
} */

.menubutton {
  display:none;
}



body {
  padding-bottom: 5rem;
}

h1 {
  color: white;
  background: black;
  text-align: center;
  font-size: 1em;
  font-weight: 400;
  padding: 1.5em;
  text-transform: uppercase;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 500;
}

.prep,
h2,
h3,
p,
ul {
  margin-bottom: 1rem;
  display: block;
}

h4 {
  font-weight: 200;
}
.servings:before {
  content:'servings: ';
}
.prep:before {
  content:'prep time: ';
}

#makeover {
  background: url('../images/titlebackground_small-01.svg') center;
  object-fit: cover;
}


.hand-script {
  display: block;
  max-width: 40vw;
  max-height: 250vh;
  padding-left: 0;
}

/* .essentialillo {
  display: inline-block;
} */

h2 {
  padding-bottom: 1rem;
  text-transform: uppercase;
  font-weight: 400;
  text-align: left;
}

h2:after {
    content: "";
    display: block;
    /* border-bottom: 1px solid; */
    /* padding-top: 1rem; */

}

ul {
  list-style-type: none;
  text-decoration: none;
  padding-left: 0;
}

.list-header {
  text-transform: uppercase;
  font-weight: bold;
}

header,
.image-container {
  height: 100vh;
  padding: 3rem 0 5rem;
}

header img,
.image-container img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  object-position: center;
}

.text-container {
  padding: 4rem 3rem;
  min-height: 100vh;
}

.text-container-top {
  background: var(--blue);
  height: 100vh;
}

footer {
  background: black;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 1000;
}


/* footer button {
  background-color: black;
  font-family: inherit;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 90%;
  font-weight: 400;
  text-transform: uppercase;

} */

footer > nav {
  display: flex;
  justify-content: space-around;
  vertical-align: middle;
  text-align: center;
  padding: 1.5em 0;
}

footer a {
  text-decoration: none;
  font-size: 90%;
  font-weight: 400;
  color: white;
  text-transform: uppercase;
  /* width: 32vw;
  background: blue; */
}

.overlay-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  padding: 2rem;
  z-index: 750;
}

/* #recipes-nav {
  display: grid;
  grid-template-areas:
  "regulars"
  "regularsrecipes"
  "beforeandafter"
  "barecipes";
  padding: 2rem;
}

#regulars {
  grid-area: regulars;
}
#beforeandafter {
  grid-area: beforeandafter;
} */

.nav-toplevel {
  color: white;
  font-size: 30px;
  text-decoration: none;
  text-transform: uppercase;
  padding-bottom: 2rem;
  text-align: center;
}

#recipes-nav .nav-toplevel:after {
    content: "";
    display: block;
    border-bottom: 1px solid;
    padding: 3px;
 }

.nav-secondlevel {
  display: block;
  color: white;
  font-weight: 400;
  text-align: center;
  font-size: 18px;
  text-decoration: none;
  margin-top: .75rem;
  /* text-transform: uppercase; */

}

.nav-thirdlevel {
  display: none;
}

.overlay-nav div {
  padding-bottom: 1rem;
}

.visit-page,
.overlayheading p {
  color: black;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
}

.overlayheading {
  position: fixed;
  top: 2rem;
}

.go-to-page {
text-align: center;
}

#about-nav {
  background-color: var(--yellow);
}

#essentials-nav {
  background-color: var(--blue);
}

#recipes-nav {
  background-color: var(--red);
}

/*
#loader-container {

  animation: spin 2s linear infinite;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1000000000;
  background-color: white solid .8;
  position: absolute;
  background-size: 100% 100%;
}

#loader-container img {
  max-width: 3rem;
} */


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes fade {
  0% { transform: opacity(1); }
  100% { transform: opacity(0); }
}



/* .about-nav,
.essentials-nav,
.recipes-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 750;
}


.about-nav a,
.essentials-nav a,
.recipes-nav a {
  display: block;
  color: white;
  font-weight: bold;
  font-size: 2rem;
  padding: 1.5rem 0;
  text-decoration: none;
  border-bottom: 1px white solid;
} */

a:hover {
  color: lightgray;
}

.close:hover {
  opacity: .5;
}

.nav-secondlevel a {
  font-weight: 200;
  font-size: 60%;
}

.close {
  width: 2rem;
  position: fixed;
  top: 5vh;
  right: 5vh;
}


/* Utilities */

.yellow {
  background-color: var(--yellow);
}

.lightyellow {
  background-color: var(--lightyellow);
}

.red {
  background-color: var(--red);
}

.purple {
  background-color: var(--purple);
}

.blue {
  background-color: var(--blue);
}

.green {
  background-color: var(--green);
}

.orange {
  background-color: var(--orange);
}

.img-right {
  margin-right: -3rem;
  margin-left: auto;
}

.img-left {
  margin-left: -3rem;
}

@media (min-width: 800px) {

  .menubutton {
    display: block;
    position:fixed;
    width: 2.5rem;
    top: 1em;
    right: 3em;
    z-index: 100000;
  }

  .menutoggle:hover {
    opacity: 0;
  }

  .hoverimg {
    position:fixed;
    width: 2.5rem;
    top: 1em;
    right: 3em;
    z-index: 100000;
    opacity: 0;
  }

  .hoverimg:hover {
    opacity: 1;
  }

  .text-container {
    width: 50vw;
    margin-left: auto;
    padding-top: 150px;
  }

  .image-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 50%;
    opacity:0;
    transition: opacity .5s ease-in;
  }

  .active > .image-container {
    opacity:1;
  }

  .hand-script {
    max-width: 35vh;
  }


  footer {
    display: none;
  }

  footer > nav {
    display: none;
  }

  .nav-secondlevel,
  .nav-toplevel,
  .nav-thirdlevel,
  .overlayheading p {
    text-align: left;
  }

  .overlay-nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 2rem;
    z-index: 750;
  }

  .overlayheading {
    display: block;
    position: relative;
    top: .5rem;
  }

  .nav-thirdlevel {
    display: inline-flex;
    color: var(--lightyellow);
    text-align: left;
    font-size: 14px;
    text-decoration: none;
    text-transform: lowercase;
  }

  .nav-thirdlevel:nth-child(odd) {
    color: var(--yellow);
}

  #about-nav,
  #essentials-nav {
position: fixed;
width: 35vw;
height: 50vh;
  }


#about-nav {
  left: 0;
  top: 4.2em;
}
#essentials-nav {
  left: 0;
  top: 54vh;
}

#recipes-nav {
  height: 100vh;
  width: 70vw;
  position: fixed;
  text-align: left;
  left: 35vw;
  top: 4.2em;
}
#recipes-nav .nav-toplevel:after {
    content: "";
    display: block;
    border-bottom: 1px solid;
    margin-right: 4rem;
 }

 .two-cols {
   display: block;
   column-count: 2;
   column-gap: 20px;
 }

.close {
  display: none; */
}
}
