* {
  box-sizing:border-box;
margin: 0;
}
html {
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
  scroll-behavior: smooth;
  background-color: white;
}

h3 {
  color: white;
  background: black;
  text-align: center;
  font-size: 1em;
  font-weight: 300;
  padding: 1em;
  text-transform: uppercase;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

#makeover {
  background: white;
  background-clip: border-box;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em 0;
}


#makeover img {
  position: middle;
}

.topper {
  display: block;
  padding-top: 3em;
  padding-right: 0;
  vertical-align: middle;
  background-size: 100% 100%;
}

.section-top {
  display: block;
  background-size: 100% 100%;
  vertical-align: middle;
}

.lowercase {
  display: none;
  width: 50vw;
  background: white;
  position: static;
}

h2 {
  display: none;
}

ul {
  list-style-type: none;
  padding-left: 3em;
  font-size: 15px;
  font-weight: 400;
  padding-top: 1em;
  padding-bottom: 1em;
}

p {
  padding: 2em 3em;
  font-size: 15px;
  font-weight: 400;
}


#pantry {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#fridge {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.essentialsheaders {
  width: 50vw;
  padding-top: 2em;
  padding-left: 1em;
}

.essentialsillos {
  padding: 0;
  width: 50vw;
}


#tools,
#bread {
  padding-bottom: 4em;
}


footer {
  background: black;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 3em;
}

footer nav {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

footer a {
  text-decoration: none;
  font-size: 70%;
  font-weight: 400;
  color: white;
  padding: 1.5em;
  text-transform: uppercase;
  text-align: center;
}

footer div {
  display: none;

}

@media (min-width: 800px) {

.section-top {
  display: block;
  width: 50vw;
  float: left;
}

p,
ul,
ol {
  display: block;
}

.right {
  display: block;
  float: right;
  width: 50vw;
  clear: both;

}

}
