* {
  box-sizing:border-box;
margin: 0;
}
html {
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
  scroll-behavior: smooth;
  background-color: white;
}


h3 {
  color: white;
  background: black;
  text-align: center;
  font-size: 1em;
  font-weight: 300;
  padding: 1em;
  text-transform: uppercase;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

#makeover {
  background: white;
  background-clip: border-box;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em 0;
}


#makeover img {
  position: middle;
}


.section-top > img {
  display: block;
  background-size: 100% 100%;
  vertical-align: middle;
  object-fit: contain;
  object-position: center;
  padding: 3rem 0;
}

.section-top {
  height: 90vh;
  width: 100%;
  align-content: middle;
}

.lowercase {
  display: block;
  width: 70vw;
  background: white;
}

h2 {
  display: none;
  text-align: center;
}

ul {
  list-style-type: none;
  padding-left: 3em;
  font-size: 15px;
  font-weight: 400;
  padding-top: 1em;
  padding-bottom: 1em;
}

p {
  padding: 2em 3em;
  font-size: 15px;
  font-weight: 400;
}


#pantry > img {
  display: block;
  float: right;
}

#fridge {
  display: block;
}

.essentialsheaders {
  width: 50vw;
  padding-top: 5rem;
  padding-left: 1em;
}

.essentialsillos {
  padding: 0;
  width: 50vw;
}


footer {
  background: black;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 3em;
}

footer nav {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

footer a {
  text-decoration: none;
  font-size: 70%;
  font-weight: 400;
  color: white;
  padding: 1.5em;
  text-transform: uppercase;
  text-align: center;
}

#overlay-menu a {
  display: block;
  text-align: center;
  text-decoration: none;
}

#overlay-menu > .about.nav {
padding: 40px 0;
height: 100vh;
background: lightblue;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  text-align: center;
  position: fixed;
  top: 0;
  bottom: 20rem;
  left: 0;
  right: 0;
}

.essentials.nav,
.recipes.nav {
  display: none;
}

#intro
.section-top {
  background-color: #E9DD79;
}

#safetyfirst
.section-top {
  background-color: #A97EB7;
}

#preservation
.section-top {
  background-color: #C56661;
}

#essentials
.section-top {
  background-color: #A3B7D6;
}

#veggies
.section-top {
  background-color: #D65663;
}

#bread
.section-top {
  background-color: #F6921E;
}

#rice
.section-top {
  background-color: #8BC53F;
}

#valentines
.section-top {
  background-color: #A3B7D6;
}


#pizza
.section-top {
  background-color: #A97EB7;
}

#cookout
.section-top {
  background-color: #D6DE23;
}

#wedding
.section-top {
  background-color: #FFE78F;
}

#fruitpicking
.section-top {
  background-color: #EE6E66;
}

@media (min-width: 800px) {

  .section-top {
    height: 100vh;
    padding: 3rem 0;
    float: left;
    width: 50%;
    /* position: fixed; */
  }

  .section-top > img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center;
  }

  /*h2 {
    display: block;
    text-align: center;
    font-size: 1em;;
  }*/

  .right {
    float: right;
    width: 50%;
    min-height: 100vh;
  }

  .right-first{
    float: right;
    width: 50%;
    min-height: 100vh;
    padding: 10rem 0;
  }

  #bread,
  #tools,
  #fruitpicking  {
  padding-bottom: 90em;
  }


  .essentialsheaders {
    width: 30vw;
    padding-top: 5rem;
    padding-left: 1em;
  }

  section {
    clear: both;
  }

}
