*{
  margin: 0;
  box-sizing: border-box;
}
html{
  background-color: #f0efef;
  font-family: 'Open Sans', sans-serif;
  color: #606161;
  font-weight: 300;
}
body {
  display: grid;
  grid-template-areas:
  "header"
  "main"
  "cta"
  "aside"
  "footer";
  grid-template-columns: 100%;
  grid-gap: 0 1rem;
}
a{
  text-decoration: none;
  color:#033048;
}
header {
  grid-area: header;
  padding-bottom: 2rem;
}
header nav {
  width: 100%;
  display: block;
  padding-top: 1rem;
}

.toggle {
  height: 3rem;
  float: right;
}

header a {
  color: #f9e42e;
  display: block;
  background-color:#033048;
  font-weight: 600;
  text-align: right;
  padding: 1rem 0;
  border-bottom: 1px white dotted;
}

header {
  background-color: #033048;
  padding: 2rem;
}

.logo,
.social > img {
  height: 2rem;
}
.post-image {
  width: 100%;
  padding: 1.5rem 0;
}
main {
grid-area: main;
padding-right: 2rem;
padding-left: 2rem;

}
main h2 {
  font-size: 2em;
  font-weight: 600;
  color: #033048;
}
main p {
  font-size: 1.1em;
}

main p:first-of-type::first-letter {
  font-size: 2em;
  font-weight: 800;
  float: left;
  margin-right: .25em;
}
article a {
  display: block;
  border-bottom: 1px solid;
  text-align: right;
  padding: 1rem 0;
}
article {
  padding: 2rem 0;
}

.read-more {
  display: block;
  font-size: 1.1em;
  font-weight: 600;
  text-align: right;
  color: #033048;
  padding: 1rem 0;
  border-bottom: 1px solid;
}

aside {
color: #033048;
  grid-area: aside;
  padding: 2rem 2rem 2rem 0;
}
aside h3,
aside h4,
aside nav,
aside p {
  margin-bottom: 1rem;
  padding: 0 2rem;
  text-align
}
aside nav a {
  display: block;
}

aside div {
  background: white;
  font-size: 2em;
  font-weight: 800;
  text-align: center;
  padding: 2rem;
  margin-left: 2rem;
  min-height: 40vh;
}
#cta {
  grid-area: cta;
}
#cta {
  background-color: #f9e42e;
  padding: 2rem;
  text-align: center;
}
#cta button {
  background-color: #033048;
  font-size: 1.5em;
  color: white;
  font-weight: 600;
  padding: 1em 1.5em;
  border-color: transparent;
  border-radius: 8px;
}
footer {
  grid-area: footer;
}
footer {
  background-color: #033048;
  text-align: center;
  padding: 2rem;
}
footer nav img {
  height: 2rem;
  margin: 1rem;
}
footer p {
  color: white;
}
footer::after {
  content: "Copyright 2015. Relaxr."
}

@media (min-width: 800px) {

  body{
    display: grid;
    grid-template-areas:
    "header header"
    "main aside"
    "cta cta"
    "footer footer";
    grid-template-columns: 65% 35%;
    grid-gap: 0 1rem;
  }
  header a {
    color: #f9e42e;
    background-color:#033048;
    font-weight: 600;
    display: initial;
    padding: 1rem;
    border-bottom: none;
  }

  header {
    display: flex;
    justify-content: center;
  }

  header nav {
    display: block;
    text-align: right;
  }
  .toggle {
    display: none;
}
}
