*{
  margin: 0;
  box-sizing: border-box;
}
html {
  background-color: hotpink;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 200;
  font-size: 24px;
  scroll-behavior: smooth;
}
header {
  padding: 40px;
  background-color: yellowgreen;
}
h1 {
  line-height: .8;
  font-family: 'Prata', serif;
}
p {
  margin: 1em 0;
}
nav {
  padding: 1em 0;
  font-size: 16px;
  text-align: center;
}
a {
  color: white;
  margin: 20px;
  padding: 20px;
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid white;
}
#work {
  background-color: turquoise;
  padding: 40px;
  color: white;
  column-count: 2;
}
#hobbies {
  padding: 40px;
}
#gallery {
  column-count: 3;
  column-gap: 0;
  background-color: black;
}
div{
  break-inside: avoid;
}
  img{
    width: 100%;
    display: block;
    height: calc(100vw / 3);
    object-position: center;
  }
  footer{
    text-align: center;
  }
}
}
